{% extends "base.html" %}

{% block title %}
主页
{% endblock  %}

{% block lib %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
{% endblock  %}

{% block main %}
<nav class="navbar navbar-default">
    <div class="container">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% for a in article %}
                <li class="active"><a href="/{{ a.id }}">{{ a.title }}</a></li>
                {% endfor %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

{% endblock  %}